<div class="comment-wrap">
    <div class="comment-container">
        <div class="comment-placeholder text-center">
            <span>{{t "Loading comments..."}}</span>
        </div>
        <div class="disqus-comment-wrap"></div>
        <script>
            var disqus_shortname = "{{@custom.disqus_shortname}}";
            var pageUrl = '{{url absolute="true"}}';
            var pageIdentifier = 'ghost-{{comment_id}}';
        </script>
    </div>
</div>