<div class="row">
    <div class="col">
        <div class="pagination-wrap text-center" id="pagination-wrap">
            <button class="btn" id="load-more"><span>{{t "Show more posts"}}</span></button>
        </div>
    </div>
</div>