<div class='pricing-table'>
  <div class='table-header text-center'>
    <div class='table-title'>{{t 'Monthly plan'}}</div>
    <div class='price h1'>
      <sup class='currency'>{{price
          currency=@price.currency
        }}</sup>{{@price.monthly}}
    </div>
  </div>
  <ul class='table-details icon-list'>
    <li>Access to all private posts</li>
    <li>Premium Forem hosting</li>
    <li>Forem Admin Guide</li>
    <li>CDN, SSL, Cloud Image Hosting</li>
    <li>Special access to selfhost.dev</li>
  </ul>
  <div class='table-footer'>
    <a
      class='btn btn-block'
      href='javascript:'
      data-members-plan='Monthly'
    ><span>{{t 'Subscribe now'}}</span></a>
  </div>
</div>