<div class="pricing-table">
    <div class="table-header text-center">
        <div class="table-title">{{t "Free plan"}}</div>
        <div class="price h1">
            <sup class="currency">{{price currency=@price.currency}}</sup>{{t "0"}}
        </div>
    </div>
    <ul class="table-details icon-list">
        <li>Access to all free private posts</li>
        <li>Weekly new content</li>
        <li>Support independent publishing</li>
        <li>No card details required</li>
    </ul>
    <div class="table-footer">
        {{#link class="btn btn-block" href="/signup/"}}{{t "Sign up now"}}{{/link}}
    </div>
</div>